<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h5 class="card-title text-center">Demo Chat</h5>
                <form class="form-signin" action="login" method="POST">
                    <div class="form-label-group">
                        <%if(errs){%>
                            <div class="alert alert-warning"><%-errs%> is Available</div>
                        <%}%>
                        <label for="input">Tên đăng nhập</label>
                        <input name="txtName" type="input" id="input" class="form-control mb-1" placeholder="Nhập tên" required
                            autofocus>
                    </div>
                    <div class="row">
                        <div class="col-6 mx-auto m-2">
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" id="button" type="submit">Đăng
                                nhập</button>
                            <hr class="my-4">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>